<div class="main">
  <div class="row columns">

    <input
      type="text"
      id="message"
      placeholder="Chat here..."
      (keyup.enter)="chatSend($event.target.value)"
      [(ngModel)]="msgVal"
    />

    <div class="chat-container" *ngFor="let data of messages | async">
      <div class="head">
        <div class="title">
          <a href="#">Stanislav Verovkin</a>
        </div>
        <div class="image">
          <img
            (click)="removeMessage(data._id)"
            src="https://image.flaticon.com/icons/svg/579/579006.svg"
          >
        </div>
      </div>
      <p>{{data.message}}</p>
    </div>

  </div>
</div>
