<mat-toolbar>
  <mat-toolbar-row>
    <mat-icon (click)="drawer.toggle()">list</mat-icon>
    <span class="example-spacer"></span>

    <div class="main-type">
      <div
        class="type"
        *ngIf="partnerIsTyping.status"
      >
        {{partnerIsTyping.userName}} is typing...
      </div>
    </div>
    <span class="example-spacer"></span>
    <mat-icon (click)="logoutUser()" class="example-icon" aria-hidden="false" aria-label="Example delete icon">logout
    </mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-list>
      <mat-list-item *ngFor="let user of users">
        <h3
          [ngStyle]="{'color': getColorUser(user.token)}"
          matLine
        >
          {{user.name}}
        </h3>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div class="main">
      <div class="row columns">

        <input
          required
          type="text"
          id="message"
          placeholder="Chat here..."
          #inputMessage
          (keyup.enter)="chatSend($event.target.value)"
          [(ngModel)]="msgVal"
        />

        <div class="chat-container" *ngFor="let data of messages">
          <div class="head">
            <div class="title">
              <a href="#">{{data.name}}</a>
            </div>
            <div class="image">
              <img
                (click)="removeMessage(data._id)"
                src="https://image.flaticon.com/icons/svg/579/579006.svg"
              >
            </div>
          </div>
          <p>{{data.message}}</p>
        </div>

        <app-loader *ngIf="isLoaded"></app-loader>

      </div>
    </div>
  </div>
</mat-drawer-container>
